<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/ico/favicon-32x32.png">
    <link rel="manifest" href="/images/ico/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/loginStyle.css">
    <link rel="stylesheet" href="/stylesheets/head.css">
    <title>EduSync| Student Login </title>
</head>
<body>
    <main>
        <nav>
            <div class="nl">
                <img src="/images/images/LOGO.png" alt="">
            </div>
            <div class="nr">
                <div class="nr-l">
                    <a href="/">Home</a>
                    <div id="login">
                        <a href="#" id="log_button">Login</a>
                        <div id="login_items">
                            <a href="/studentlogin">Student Login</a>
                            <a href="/teacherlogin">Teacher Login</a>
                            <a href="/headlogin">Head Login</a>
                        </div>
                    </div>
                    
                    <a href="/images">Images</a>
                </div>
                <div class="nr-r">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>  
        <div id="page1">
            <div id="pg1-container">
                <h1>Add Student</h1>
                <div id="contact-pg4">
                    <div class="contact-container registerStudent">
                        <form action="/studentRegister" method="POST" enctype="multipart/form-data">
                            <div id="label">
                                <label for="id">ID: </label>
                                <input type="number" name="id" id="id" value="<%= user1.id %>" required><br><br>
                            </div>
                            <div id="label">
                                <label for="name">Name: </label>
                                <input type="text" id="name" name="name" value="<%= user1.name %>" required><br><br>
                            </div>
                            <div id="label">
                                <label for="classId">Class: </label>
                                <input type="number" id="classId" name="classId"required><br><br>     
                            </div>
                            <div id="label">
                                <label for="section">Section: </label>
                                <input type="text" id="section" name="section"required><br><br>   
                            </div>
                            <div id="label">
                                <label for="fatherName">Father Name:</label>
                            <input type="text" id="fatherName" name="fatherName" value="<%= user1.fatherName %>" required><br><br>
                            </div>
                            <div id="label">
                                <label for="motherName">Mother  Name:</label>
                            <input type="text" id="motherName" name="motherName" value="<%= user1.motherName %>" required><br><br>
                            </div>
                            <div id="label">
                                <label for="city">City:</label>
                            <input type="text" id="city" name="city" value="<%= user1.city %>" required><br><br>
                            </div>
                            <div id="label">
                                <label for="state">State:</label>
                            <input type="text" id="state" name="state" value="<%= user1.state %>" required><br><br>
                            </div>
                            <div id="label"> 
                                <label for="dob">Date Of Birth: </label>
                                <input type="date" id="dob" name="dob" value="<%= user1.dob %>" required><br><br></div>
                            <div id="label">
                                <label for="age">Age: </label>
                            <input type="number" id="age" name="age" value="<%= user1.age %>" required><br><br>
                            </div>
                            <div id="label">
                                <label for="mobile"> Mobile: </label>
                            <input type="number" id="mobile" name="mobile" value="<%= user1.mobile%>" required><br><br>
                            </div>
                            <div id="label">
                                <label for="email">Email: </label>
                            <input type="email" id="email" name="email" value="<%= user1.email %>" required><br><br>
                            </div>
                            <div id="label">
                                <label for="Photo">Photo: </label>
                                <input type="file" name="image" accept="image/*" />
                            </div>
                            <button type="submit">SUBMIT</button>
                        </form>
                    </div>
                </div>
                <div id="contact-pg4">
                    <div class="contact-container registerStudent">
                        <h2>Upload Excel Sheet</h2>
                        <form action="/studentRegister/uploadExcel" method="POST" enctype="multipart/form-data">
                            <div id="label">
                                <label for="file">Upload File:</label>
                                <input type="file" name="file" id="file" required>
                            </div>
                            <button type="submit">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="footer-container">
                <div section="fl">
                    <h2>CONTACT US</h2>
                    <div section="contact">
                        <h4>9780914581 (Head)</h4>
                        <h4>sandeepsinghsohian@gmail.com</h4>
                    </div>
                </div>
                <div class="fc">
                    <div class="quick-links">
                        <h2>Quick Links</h2>
                        <div class="contact">
                            <a href="/">Home</a>
                            <a href="/images">Images</a>
                            </div>
                    </div>
                </div>
                <div class="fr">
                    <h2>Location</h2>
                    <div class="contact">
                        <div id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d548.6914284465247!2d74.90983231549603!3d31.690628893253695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919638655ecf77d%3A0x482bc38508456636!2sGovernment%20Elementary%20Smart%20School!5e1!3m2!1sen!2sin!4v1711472732719!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div id="horizontal-ruler"></div>
        <div id="copywright">
            <h3>@2026 Team Rawjet. All Rights Reserved.</h3>
        </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascripts/script.js"></script>
</body>
</html>