<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/ico/favicon-32x32.png">
    <link rel="manifest" href="/images/ico/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/head.css">
    <link rel="stylesheet" href="/stylesheets/teacher.css">
    <title><%= user.name %> | Teacher Dashboard</title>
</head>
<body>
    <main>
        <nav id="dashboard-nav">
            <div class="nl">
                <img src="/images/images/logo.png" alt="Logo here">
            </div>
            <div class="nr">
                <div class="nr-l">
                    <a href="/">Home</a>    
                    <a href="/teacher/logout">Logout</a>
                </div>
                <div class="nr-r">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>  
        <div id="page1">
            <div id="pg1-container">
                <div id="panel-container">
                    <div class="nr-r" id="panel-logo">
                        <i class="ri-menu-line"></i>
                    </div>
                    <div id="panel">
                        <div class="panel_elem" id="tp1"><a href="/teacher">Personal Information</a></div>
                        <div class="panel_elem" id="tp2"><a href="#">Student Information</a></div>
                        <div class="panel_elem" id="tp3"><a href="#">Exam</a></div>
                        <div class="panel_elem" id="tp4"><a href="#">Leave Request</a></div>
                        <div class="panel_elem" id="tp5"><a href="#">Edit Details</a></div>
                        <div class="panel_elem" id="tp6"><a href="#">Change Password</a></div>
                    </div>
                </div>
                <div id="data">
                    <div class="part" id="personalInformation">
                        <h2>Personal Information</h2>
                        <div class="info">
                            <div class="infoElem" id="imageElem">
                                <div id="image">
                                    <% if (user && user.image) { %>
                                        <img src="<%= user.image %>" alt="User Image" />
                                    <% } %>
                                </div>
                            </div>
                            <div class="infoElem">
                                <h2>Name:</h2>
                                <h3><%= user ? user.name : 'N/A' %></h3>
                            </div>
                            <div class="infoElem">
                                <h2>Father Name:</h2>
                                <h3><%= user ? user.fatherName : 'N/A' %></h3>
                            </div>
                            <div class="infoElem">
                                <h2>Date Of Birth:</h2>
                                <h3><%= user ? user.dob : 'N/A' %></h3>
                            </div>
                            <div class="infoElem">
                                <h2>Date Of Joining:</h2>
                                <h3><%= user ? user.dateOfJoining : 'N/A' %></h3>
                            </div>
                            <div class="infoElem">
                                <h2>Mobile:</h2>
                                <h3><%= user ? user.mobile : 'N/A' %></h3>
                            </div>
                            <div class="infoElem">
                                <h2>Email:</h2>
                                <h3><%= user ? user.email : 'N/A' %></h3>
                            </div>
                        </div>
                    </div>
                    <div class="part" id="studentInformation">
                        <div id="studentPanel">
                            <h2 id="ts1">Search student</h2>
                            <a id="ts2" style="color:#4E3629" href="/studentRegister">Add student</a>
                            <h2 id="ts3">Remove Student</h2>
                        </div>
                        <div id="studentBox">
                            <div id="studentInfo" class="studentInfo2">
                                <div id="studentInput">
                                    <form action="/teacherStudent" method="get" enctype="multipart/form-data">
                                        <div id="label">
                                            <label for="id">ID: </label>
                                            <input type="number" id="id" name="id"required><br><br>     
                                        </div>
                                        <button type="submit">SHOW</button>
                                    </form>
                                </div>
                            </div>
                            <div id="studentDelete" class="studentInfo2">
                                <div id="studentDelete">
                                    <form action="/teacherStudent/remove" method="post">
                                        <div id="label">
                                            <label for="id">ID: </label>
                                            <input type="number" id="id" name="id"required><br><br>     
                                        </div>
                                        <button type="submit">DELETE</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="part" id="exams">
                        <div id="examPanel">
                            <h2 id="ep1">Datesheet</h2>
                            <h2 id="ep2">Marks</h2>
                        </div>
                        <div id="examBox">
                            <div id="datesheetUpload" class="exams">
                                <form action="/datesheet/upload" method="post" enctype="multipart/form-data">
                                    <div id="label">
                                        <label for="kaksha">CLASS: </label>
                                        <input type="number" id="kaksha" name="kaksha"required><br><br>
                                    </div>
                                    <div id="label">
                                        <label for="section">Section: </label>
                                        <input type="text" id="section" name="section" required />
                                    </div>
                                    <div id="label">
                                        <label for="examType">EXAM TYPE:</label>
                                        <select name="examType" id="examType">
                                            <option value="Final">Final</option>
                                            <option value="Half_Yearly">Half Yearly</option>
                                            <option value="Montly">Montly</option>
                                            <option value="Test">Test</option>
                                        </select>
                                    </div>
                                    <div id="label">
                                        <label for="month">Month: </label>
                                        <input type="month" id="month" name="month" placeholder="yyyy-mm" required/>
                                    </div>
                                    <div id="label">
                                        <label for="excel">Upload Excel File: </label>
                                        <input type="file" name="excel" accept=".xls,.xlsx" required>
                                    </div>
                                    <button type="submit">SUBMIT</button>
                                </form>
                            </div>
                            <div id="marks" class="exams">
                                <div id="marksPanel">
                                    <h2 id="mp1">View Marks</h2>
                                    <h2 id="mp2">Upload Marks</h2>
                                </div>
                                <div id="marksBox">
                                    <div id="viewMarks" class="marksElem">
                                        <div id="viewMarksPanel">
                                            <h2 id="vp1">Class Report</h2>
                                            <h2 id="vp2">Student Report</h2>
                                        </div>
                                        <div id="viewMarksBox" class="marksElem">
                                            <div id="studentReport" class="marksElem report">
                                                <form action="/uploadMarks/teacher/studentReport" method="get" enctype="multipart/form-data">
                                                    <div id="label">
                                                        <label for="student_id">ID: </label>
                                                        <input type="number" id="student_id" name="student_id"required><br><br>     
                                                    </div>
                                                    <input type="hidden" id="nameValue" name="nameValue" value="<%= nameValue %>" required><br><br>
                                                    <input type="hidden" id="sectionValue" name="sectionValue" value="<%= sectionValue %>" required><br><br>
                                                    <button type="submit">SHOW</button>
                                                </form>
                                            </div>
                                            <div id="classReport" class="marksElem report">
                                                <h2>Class Report</h2>
                                                <form action="/uploadMarks/teacher/classReport" method="get">
                                                    <div id="label">
                                                        <label for="exam_type">EXAM TYPE:</label>
                                                        <select name="exam_type" id="exam_type">
                                                            <option value="Final">Final</option>
                                                            <option value="Half_Yearly">Half Yearly</option>
                                                            <option value="Montly">Montly</option>
                                                            <option value="Test">Test</option>
                                                        </select>
                                                    </div>
                                                    <div id="label">
                                                        <label for="date">Date:</label>
                                                        <input type="date" name="date" id="date">
                                                    </div>
                                                    <input type="hidden" id="nameValue" name="nameValue" value="<%= nameValue %>" required><br><br>
                                                    <input type="hidden" id="sectionValue" name="sectionValue" value="<%= sectionValue %>" required><br><br>
                                                    <button type="submit">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="uploadMarks" class="marksElem">
                                        <h2>Upload Marks</h2>
                                        <form action="/uploadMarks" method="get">
                                            <div id="label">
                                                <label for="exam_type">EXAM TYPE:</label>
                                                <select name="exam_type" id="exam_type">
                                                    <option value="Final">Final</option>
                                                    <option value="Half_Yearly">Half Yearly</option>
                                                    <option value="Montly">Montly</option>
                                                    <option value="Test">Test</option>
                                                </select>
                                            </div>
                                            <div id="label">
                                                <label for="total">Total Marks:</label>
                                                <input type="number" id="total" name="total" required><br><br>
                                            </div>
                                            <div id="label">
                                                <label for="date">Date (of first exam):</label>
                                                <input type="date" id="date" name="date" required><br><br>
                                            </div>
                                            <input type="hidden" id="nameValue" name="nameValue" value="<%= nameValue %>" required><br><br>
                                            <input type="hidden" id="sectionValue" name="sectionValue" value="<%= sectionValue %>" required><br><br>
                                            <button type="submit">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="part" id="leaveRequest">
                        <div class="panel">
                            <h2 id="apply">Apply Leave</h2>
                            <h2 id="view">Leave Record</h2>
                            <h2 id="approve">Approve Leave</h2>
                        </div>
                        <div id="applyLeave" class="request">
                            <h2>Apply Leave</h2>
                            <form action="/leave/teacher" method="POST">
                                <div id="label">
                                    <label for="id">ID: </label>
                                    <input type="number" id="id" name="id" value="<%= apply.id %>" required><br><br>
                                </div>
                                <div id="label">
                                    <label for="name">Name</label>
                                <input type="text" id="name" name="name" value="<%= apply.name %>" required><br><br>
                                </div>
                                <div id="label"> 
                                    <label for="from_date">From Date : </label>
                                    <input type="date" id="from_date" name="from_date" value="<%= user.from_date %>" required><br><br></div>
                                <div id="label">
                                    <label for="to_late">Till Date :</label>
                                <input type="date" id="to_date" name="to_date" value="<%= apply.to_date %>" required><br><br>
                                </div>
                                <div id="label">
                                    <label for="reason">Reason: </label>
                                <input type="text" id="reason" name="reason" value="<%= apply.reason %>" required><br><br>
                                </div>
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                        <div id="approveLeave" class="request">
                            <div class="info" id="leaveInfoPanel">
                                <div class="infoElem"><h2>Id</h2></div>
                                <div class="infoElem"><h2>Name</h2></div>
                                <div class="infoElem"><h2>from Date</h2></div>
                                <div class="infoElem"><h2>Till Date</h2></div>
                                <div class="infoElem"><h2>Reason</h2></div>
                                <div class="infoElem"><h2>Approve</h2></div>
                            </div>
                            <% leave.forEach(leaves=> { %>
                                <div class="info" id="leaveInfo">
                                    <div class="infoElem"><%=leaves.id%></div>
                                    <div class="infoElem"><%=leaves.name%></div>
                                    <div class="infoElem"><%=leaves.from_date%></div>
                                    <div class="infoElem"><%=leaves.to_date%></div>
                                    <div class="infoElem"><%=leaves.reason%></div>
                                    <form action="/approve/student" method="post">
                                        <input type="hidden" name="leaveId" value="<%= leaves._id %>">
                                        <button type="submit">APPROVE</button>
                                    </form>
                                </div>
                            <% }) %>
                        </div>
                        <div id="viewLeave" class="request">
                            <div class="info" id="leaveInfoPanel">
                                <div class="infoElem"><h2>Id</h2></div>
                                <div class="infoElem"><h2>Name</h2></div>
                                <div class="infoElem"><h2>from Date</h2></div>
                                <div class="infoElem"><h2>Till Date</h2></div>
                                <div class="infoElem"><h2>Reason</h2></div>
                                <div class="infoElem"><h2>Status</h2></div>
                            </div>
                            <% teacherLeaveDetails.forEach(view=> { %>
                                <div class="info" id="leaveInfo">
                                    <div class="infoElem"><%=view.id%></div>
                                    <div class="infoElem"><%=view.name%></div>
                                    <div class="infoElem"><%=view.from_date%></div>
                                    <div class="infoElem"><%=view.to_date%></div>
                                    <div class="infoElem"><%=view.reason%></div>
                                    <div class="infoElem"><%=view.status%></div>
                                </div>
                            <% }) %>
                        </div>  
                    </div>
                    <div class="part" id="changePassword">
                        <h2>Change Password</h2>
                        <form action="/changePassword/teacher" method="POST">
                            <div id="label">
                                <label for="oldPassword">Old Password: </label>
                                <input type="password" id="oldPass" name="oldPass"  required><br><br>
                            </div>
                            <div id="label">
                                <label for="newPassword">New Password: </label>
                            <input type="password" id="newPass" name="newPass"  required><br><br>
                            </div>
                            <button type="submit">Update</button>
                        </form>
                    </div>
                    <div class="part" id="editDetails">
                        <h2>Edit Details</h2>
                        <form action="/teacher" method="POST" enctype="multipart/form-data">
                            <div id="label">
                                <label for="name">Name: </label>
                                <input type="text" id="name" name="name" value="<%= user.name %>" required><br><br>
                            </div>
                            <div id="label">
                                <label for="fatherName">Father Name</label>
                            <input type="text" id="fatherName" name="fatherName" value="<%= user.fatherName %>" required><br><br>
                            </div>
                            <div id="label"> 
                                <label for="dob">Date Of Birth: </label>
                                <input type="date" id="dob" name="dob" value="<%= user.dob %>" required><br><br></div>
                            <div id="label">
                                <label for="doj">date Of Joining: </label>
                            <input type="date" id="dateOfJoining" name="dateOfJoining" value="<%= user.dateOfJoining %>" required><br><br>
                            </div>
                            <div id="label">
                                <label for="age">Age: </label>
                            <input type="number" id="age" name="age" value="<%= user.age %>" required><br><br>
                            </div>
                            <div id="label">
                                <label for="mobile"> Mobile: </label>
                            <input type="number" id="mobile" name="mobile" value="<%= user.mobile%>" required><br><br>
                            </div>
                            <div id="label">
                                <label for="email">Email: </label>
                            <input type="email" id="email" name="email" value="<%= user.email %>" required><br><br>
                            </div>
                            <div id="label">
                                <label for="Photo">Photo: </label>
                                <input type="file" name="image" accept="image/*" />
                            </div>
                            <button type="submit">Update</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div id="footer">
            <div id="footer-container">
                <div class="fl">
                    <h2>CONTACT US</h2>
                    <div class="contact">
                        <h4>1234567895 (Head)</h4>
                        <h4>admin@gmail.com</h4>
                    </div>
                </div>
                <div class="fc">
                    <div class="quick-links">
                        <h2>Quick Links</h2>
                        <div class="contact">
                            <a href="/">Home</a>
                            <a href="/images">Images</a>
                            </div>
                    </div>
                </div>
                <div class="fr">
                    <h2>Location</h2>
                    <div class="contact">
                        <div id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d548.6914284465247!2d74.90983231549603!3d31.690628893253695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919638655ecf77d%3A0x482bc38508456636!2sGovernment%20Elementary%20Smart%20School!5e1!3m2!1sen!2sin!4v1711472732719!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div id="horizontal-ruler"></div>
        <div id="copywright">
            <h3>@2025 Team Rawjet. All Rights Reserved.</h3>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascripts/teacherScript.js"></script>
<script src="/javascripts/script.js"></script>
</body>
</html>